@use "../custom" as *;
@use "../breakpoints" as *;

// Logo css
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 13px 20px -20px;
  img{
    height: 100px;
  }
}

// list tab css
.headings {
  &:not(:last-child) {
    border-bottom: 2px solid $gray;
  }
}
// hero section header image css
.hero_header_image {
  position: relative;
  .headline {
    position: absolute;
    left: 20px;
    bottom: 20px;
    .news_heading {
      border: none !important;
    }
    h1 {
      color: $yellow;
    }
    h3 {
      color: $light;
      .sub_heading{
        color: $yellow;
      }
    }
  }
}

// small_ad css

.small_ad {
  margin: 10px 0;
  h1 {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin: 7px 0;
  }
  .ad_section {
    padding: 1.555rem;
    &_content {
      height: 200px;
      width: 100%;
    }
  }
}
// full_ad css

.full_ad {
  margin: 10px 0;
  padding: 1.555rem;
  .ad_section {
    padding: 1.555rem;
    &_content {
      height: 100px;
      width: 100%;
    }
  }
}
