@use "../custom" as *;
@use "../breakpoints" as *;

// List tabs css
.list_tabs {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: $gray;
  border-bottom: 1px solid $gray;
  .tab_button {
    margin-right: 15px;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 23.94px;
    font-weight: 700;
    border-bottom: 3px solid transparent;
    transition: color cubic-bezier(0.165, 0.84, 0.44, 1) 0.15ms;
    &:hover {
      border-bottom: 3px solid $guardsman-red;
      color: $dark;
    }
    &.active {
      border-bottom: 3px solid $guardsman-red;
      color: $dark;
      background-color: $light-muted-color;
    }
    @include tablet {
      margin-right: 10px;
    }
  }
}

// newsHeading css
.news_heading {
  width: 100%;
  display: flex;
  font-size: $newsHeadingSize;
  margin-bottom: 6px;
  padding: 5px;
  transition: color 0.15ms;
  h1 {
    margin-right: 10px;
    color: $gray;
    @include tablet {
      margin-bottom: 7px;
    }
  }
  .sub_heading {
    color: $guardsman-red;
    &::after {
      content: "/";
      margin: 0 $Margin;
    }
  }
  @include tablet {
    display: inline-block;
    font-size: $newsHeadingSize;
    h1 {
      margin-right: 0px;
    }
  }
}

// Selected section css
.selected_section {
  padding-bottom: 0.4444rem;
  font-size: 18px;
  margin: 7px 0;
  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background: $lochmara-blue;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 0.222rem;
    margin-right: 0.55556rem;
  }
}

// Post Image css
.post_image {
  @include full_height_width;
}
// Ad section css
.ad_section {
  height: 100%;
  background-color: $light-muted-color;
}

// Priamry Overlay css
.primary_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

// Ago time css
.ago_time{
  font-size: 12px;
  font-weight: 700;
  color: $emperor;
}