@use "../custom" as *;
@use "../breakpoints" as *;
@use "../atoms" as *;

.home_page {
  padding: 5px;
  .news_left {
    margin-top: 10px;
    margin-bottom: 15px;
    @include desktop {
      margin: 0;
      .mobile_ad {
        display: none;
      }
    }
  }
  .news_right {
    height: fit-content;
    &_hero_secondary {
      display: grid;
      grid-gap: 17px;
      margin-top: 13px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .home_right {
    .desktop_ad {
      display: none;
    }
  }

  @include tablet {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-gap: $distance;
    .home_right {
      grid-column-start: 2;
    }
  }
  @include desktop {
    grid-template-columns: 3fr 6fr 3fr;
    .home_right {
      grid-column-start: 3;
      .desktop_ad {
        display: block;
      }
    }
  }
}
