@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body,
html {
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
  padding-right: 0 !important;
  font-size: 14px;
  font-weight: normal;
  height: 100%;
  width: 100%;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background-color: lightgray;
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 5px;
}

a {
  text-decoration: none !important;
  color: #121212;
}
a:hover {
  color: #0573e6 !important;
}
a:hover span {
  color: #0573e6 !important;
}

ul,
li {
  list-style-type: none;
}

html,
body,
blockquote,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  padding: 0;
}

button,
fieldset,
form,
input,
legend,
textarea,
select {
  margin: 0 !important;
  padding: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.font-16 {
  font-size: 16px;
}

.font-w-500 {
  font-weight: 500;
}

.btn-rounded {
  position: relative;
  padding: 0.8rem 2.8rem !important;
  font-weight: 500;
  margin: 0;
}
.btn-rounded span {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
}
.btn-rounded span i {
  color: #f6f7fb;
  font-size: 1rem;
  line-height: 2.5rem;
}

.list_tabs {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #949494;
  border-bottom: 1px solid #949494;
}
.list_tabs .tab_button {
  margin-right: 15px;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 23.94px;
  font-weight: 700;
  border-bottom: 3px solid transparent;
  transition: color cubic-bezier(0.165, 0.84, 0.44, 1) 0.15ms;
}
.list_tabs .tab_button:hover {
  border-bottom: 3px solid #d60000;
  color: #121212;
}
.list_tabs .tab_button.active {
  border-bottom: 3px solid #d60000;
  color: #121212;
  background-color: rgba(229, 232, 234, 0.7294117647);
}
@media only screen and (min-width: 876px) {
  .list_tabs .tab_button {
    margin-right: 10px;
  }
}

.news_heading {
  width: 100%;
  display: flex;
  font-size: 14px;
  margin-bottom: 6px;
  padding: 5px;
  transition: color 0.15ms;
}
.news_heading h1 {
  margin-right: 10px;
  color: #949494;
}
@media only screen and (min-width: 876px) {
  .news_heading h1 {
    margin-bottom: 7px;
  }
}
.news_heading .sub_heading {
  color: #d60000;
}
.news_heading .sub_heading::after {
  content: "/";
  margin: 0 10px;
}
@media only screen and (min-width: 876px) {
  .news_heading {
    display: inline-block;
    font-size: 14px;
  }
  .news_heading h1 {
    margin-right: 0px;
  }
}

.selected_section {
  padding-bottom: 0.4444rem;
  font-size: 18px;
  margin: 7px 0;
}
.selected_section::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #0573e6;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: 0.222rem;
  margin-right: 0.55556rem;
}

.post_image {
  height: 100%;
  width: 100%;
}

.ad_section {
  height: 100%;
  background-color: rgba(229, 232, 234, 0.7294117647);
}

.primary_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.ago_time {
  font-size: 12px;
  font-weight: 700;
  color: #555;
}

@media only screen and (min-width: 876px) {
  .news_details {
    width: 800px;
    margin: 0 auto;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 13px 20px -20px;
}
.logo img {
  height: 100px;
  width: 150px;
}

.headings:not(:last-child) {
  border-bottom: 2px solid #949494;
}

.hero_header_image {
  position: relative;
}
.hero_header_image .headline {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.hero_header_image .headline .news_heading {
  border: none !important;
}
.hero_header_image .headline h1 {
  color: #ffb300;
}
.hero_header_image .headline h3 {
  color: #f6f7fb;
}
.hero_header_image .headline h3 .sub_heading {
  color: #ffb300;
}

.small_ad {
  margin: 10px 0;
}
.small_ad h1 {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin: 7px 0;
}
.small_ad .ad_section {
  padding: 1.555rem;
}
.small_ad .ad_section_content {
  height: 200px;
  width: 100%;
}

.full_ad {
  margin: 10px 0;
  padding: 1.555rem;
}
.full_ad .ad_section {
  padding: 1.555rem;
}
.full_ad .ad_section_content {
  height: 100px;
  width: 100%;
}

.deatils_heading {
  border-bottom: 2px solid rgba(148, 148, 148, 0.2705882353);
}
.deatils_heading .topic {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
  font-weight: 700;
}
.deatils_heading_headline {
  color: #121212;
  font-weight: 600;
  margin: 10px 0;
}

.details_description {
  text-align: left;
}
@media only screen and (min-width: 876px) {
  .details_description {
    font-size: 18px;
    width: 700px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1264px) {
  .list_wrapper, .hero_wrapper {
    padding-right: 10px;
    border-right: 2px solid rgba(229, 232, 234, 0.7294117647);
  }
}

.hero_wrapper {
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(229, 232, 234, 0.7294117647);
}
.hero_wrapper .news_heading {
  display: flex;
}
.hero_wrapper .news_heading h1,
.hero_wrapper .news_heading h3,
.hero_wrapper .news_heading .sub_heading {
  font-size: 16px;
}
@media only screen and (min-width: 876px) {
  .hero_wrapper .news_heading h1,
.hero_wrapper .news_heading h3,
.hero_wrapper .news_heading .sub_heading {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1264px) {
  .hero_wrapper {
    border-bottom: none;
    margin-bottom: 0px;
  }
}

.newsfeed_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 7px;
  padding: 10px 0;
  border-bottom: 2px solid rgba(229, 232, 234, 0.7294117647);
}
.newsfeed_content .headings_with_time .news_heading {
  padding: 0px;
}
.newsfeed_content .headings_with_time .news_heading .heading {
  font-size: 18px;
}
@media only screen and (min-width: 1264px) {
  .newsfeed_content .headings_with_time .news_heading .heading {
    font-size: 14px;
  }
}

.details_content_image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
@media only screen and (min-width: 876px) {
  .details_content_image .post_image {
    max-width: 964px;
    max-height: 540px;
  }
}

.news_home {
  padding: 5px;
}
.news_home .mobile_ad {
  border-bottom: 2px solid rgba(229, 232, 234, 0.7294117647);
}
@media only screen and (min-width: 876px) {
  .news_home .mobile_ad {
    border: none;
    border-top: 2px solid rgba(229, 232, 234, 0.7294117647);
  }
}
@media only screen and (min-width: 1264px) {
  .news_home .mobile_ad {
    display: none;
  }
}
.news_home .news_left {
  margin-top: 10px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1264px) {
  .news_home .news_left {
    margin: 0;
  }
}
.news_home .news_right {
  height: fit-content;
}
.news_home .news_right_hero_secondary {
  display: grid;
  grid-gap: 17px;
  margin-top: 13px;
  grid-template-columns: repeat(2, 1fr);
}
.news_home .home_right .desktop_ad {
  display: none;
}
@media only screen and (min-width: 1264px) {
  .news_home .home_right .desktop_ad {
    display: block;
    border-bottom: 2px solid rgba(229, 232, 234, 0.7294117647);
  }
}
@media only screen and (min-width: 876px) {
  .news_home {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-gap: 1.777rem;
  }
  .news_home .home_right {
    grid-column-start: 2;
  }
}
@media only screen and (min-width: 1264px) {
  .news_home {
    grid-template-columns: 3fr 6fr 3fr;
  }
  .news_home .home_right {
    grid-column-start: 3;
  }
}

.container {
  padding: 30px 10px;
}
@media only screen and (min-width: 1264px) {
  .container {
    width: 1320px;
    margin: 0 auto;
    padding: 30px 5px;
  }
}

/*# sourceMappingURL=main.css.map */
