@use "custom" as *;
@use "breakpoints" as *;
@use "pages/home.scss" as *;
@use "molecules" as *;
@use "organisms/" as *;


.container{
    padding: 30px 10px;
    @include desktop{
      width: 90%;
      margin: 0 auto;
      padding: 30px 5px;
    }
  }
